* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Times New Roman";
    margin:0;
    padding:0;
    width:100%;
}

fieldset {
    border:none;
}

button, option, button, fieldset {
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#content {
    height: 85%;
    width: 100%;
    padding: 0px 20px;
    border-bottom:2px solid #ccc;
    overflow-y: scroll;
}

#classification {
    padding: 10px 20px;
    min-height:12%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

}

#currentProgress {
    float: right;
    margin: 5px 5px 0 0;
}

#buttonsLeft {
    float: left;
}

#buttonsRight {
    float: right;
}


button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 100%;
    padding: .2em .5em;
    margin: 0.2em 0 0 0;
    text-decoration: none;
    border: transparent;
    display: inline-block;
    zoom: 1;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
    line-height: normal;
    box-sizing: border-box;
    font-weight: 100;
    letter-spacing: 0.01em;
    -webkit-appearance: button;
    text-transform: none;
}

button#downloadData {
    background: rgb(28, 184, 65);
}

button {
    background: rgb(66, 136, 240);
    padding : 10px 15px;
}

button:not(#downloadData) {
    width:100px;
}

input[type=radio] {
    margin-bottom:1em;
}

label {
    padding: .2em .5em;
}

#catBox {
    border:2px solid #333;
    background-color: #fff;
    display: none;
    z-index:1;
}

#catBox fieldset {
    padding:10px 20px;
}

#content a{
    pointer-events: none;
    cursor: default;
}

font[class^="cat"] {
    cursor: pointer;
}

.label_cat0, .cat0, .cat0 * {
    background-color: #ffe259;
}

.label_cat1, .cat1, .cat1 * {
    background-color: #ffa751;
}

.label_cat2, .cat2, .cat2 * {
    background-color: #11998e;
}

.label_cat3, .cat3, .cat3 * {
    background-color: #0082c8;
}

.label_cat4, .cat4, .cat4 * {
    background-color: #FC466B;
}

.label_cat5, .cat5, .cat5 * {
    background-color: #ADA996;
}

.label_cat6, .cat6, .cat6 * {
    background-color: #3CA55C;
}